IPHONEOS_DEPLOYMENT_TARGET = 18.0
SWIFT_VERSION = 6.0
PRODUCT_BUNDLE_IDENTIFIER = com.droidbox.app
PRODUCT_NAME = DroidBox
MARKETING_VERSION = 1.1.0
CURRENT_PROJECT_VERSION = 5
TARGETED_DEVICE_FAMILY = 1,2
SUPPORTED_PLATFORMS = iphoneos iphonesimulator
SUPPORTS_MACCATALYST = NO
CODE_SIGN_STYLE = Automatic
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
GENERATE_INFOPLIST_FILE = NO
INFOPLIST_FILE = Config/Info.plist
OTHER_LDFLAGS = $(inherited) -lz
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
CLANG_ENABLE_MODULES = YES
SWIFT_OBJC_BRIDGING_HEADER = DroidBox/DroidBox-Bridging-Header.h
